

<style>
    .red {
        background: red !important;
    }

    .yellow {
        background: yellow !important;
    }

    .green {
        background: green !important;
    }
    /*.e-ganttchart .e-gantt-childtaskbar{
            background-color:transparent;
        }
        .e-ganttchart .e-gantt-childtaskbar, .e-ganttchart .e-gantt-parenttaskbar-innerdiv{
            border-style:none;
        }*/
    .e-gantt-template-progressbar {
        background: red !important;
        opacity: 1 !important;
    }

    .e-gantt-template-taskbar.schedule {
        background-color: #f0f0f0;
        color: #000;
    }

    .e-gantt-template-taskbar.takeoff {
        background-color: #00bfff;
        color: #fff;
    }

    .e-gantt-template-taskbar.landing {
        background-color: #3cb371;
        color: #fff;
    }

    .e-gantt-template-taskbar.cancel {
        background-color: #a65959;
        color: #fff;
    }

    .e-gantt-template-taskbar.delay {
        background-color: #ff0000;
        color: #fff;
    }

    .e-gantt-template-taskbar.inactive {
        background-color: #ffff00;
        color: #fff;
    }

    .e-gantt-template-taskbar.diverted {
        background-color: #ee82ee;
        color: #fff;
    }

    .e-gantt-template-taskbar.ground {
        background-color: #ff8000;
        color: #fff;
    }

    .e-gantt-template-taskbar.nodata {
        background-color: #787878;
        color: #fff;
    }

    .lbl_from, .lbl_to {
        font-size: 10px;
    }

    .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal {
        height: 40px !important;
        background: white !important;
        margin: -3px 1px 0 1px;
    }

        .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal.dx-state-focused {
            height: 40px !important;
            background: white !important;
            margin: -3px 1px 0 1px;
            border: none !important;
        }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
        height: 67px !important;
    }

    .dx-scheduler-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-all-day-appointment.dx-state-focused:before {
        background-color: white !important;
    }



    .chartBox {
        border: 1px solid #e0e0e0;
        color: white;
        background-color: transparent;
    }

    #dg_flight_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_flight .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight .dx-icon.dx-icon-export-excel-button {
        color: white;
    }

    .generalInfo {
        height: 205px;
        margin: 2px;
        width: 49.3%;
        color: white;
    }

    text {
        fill: white !important;
    }

    .generalScore {
        color: black;
    }
</style>




<div class="box fdmSummeryController" style="height:100%;overflow-y:hidden">


    <div class="rowx header" ng-include="'app/views/header.html'"></div>
    <div style="position:relative;">
        <div ng-include="'app/views/menu.html'"></div>
    </div>

    <div class="rowx" style="border: 1px solid #e0e0e0;padding: 5px 10px 5px 10px;height:100%">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 " style="background:#ccc;color:black; border: 1px solid gray;padding:10px" ng-repeat="x in ds" ng-click="itemClicked(x.year, x.monthId)">
            {{x.title}}
        </div>
    </div>
    <div class="rowx footer app-footer" ng-include="'app/views/footer.html'" ng-init="type = 'applibrary';" style="padding:0;flex:0 0 45px"></div>

    <div dx-load-panel="loadPanel"></div>

</div>

